body,
html {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.image-wrapper {
    height: 100vh;
}

.image-wrapper img {
    margin-top: 9.4em;
    cursor: pointer;
    padding: .4em .4em 0em .4em;
}

.cbox {
    background-color: #fff;
    width: 100%;
    height: 100% !important;
    border-radius: 5px;
    display: none;
    -webkit-box-shadow: -1px 3px 31px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 31px -8px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 31px -8px rgba(0, 0, 0, 0.75);
}

.cbox h4 {
    font-size: .8em;
    color: #4687d6;
}

.no-pad {
    padding: 0 !important;
}

.cimona-chat-wrapper {
    height: 100vh;
    padding-bottom: .6em;
    overflow-y: hidden;
}

.chat-area {
    width: 100%;
    border: .5px solid #ccc;
    border-radius: 5px;
    height: 8em;
    color: #826161;
}

.chat-area:focus {
    outline: 0px !important;
    -webkit-appearance: none;
}

#send-button {
    padding-top: 0;
    font-size: 1em;
    text-align: right;
    text-transform: uppercase;
}

#send-button:hover {
    color: #aaa;
    cursor: pointer;
}

#chat-tag {
    font-size: .5em;
    line-height: 1.2em;
    color: #aaa;
}

.to-cimona {
    overflow-y: scroll;
}

.to-cimona-ht-alter {
    height: 9em !important;
}

.chat-area-ht-alter {
    height: 2em !important;
}

.cimona-reply {
    text-align: right;
    color: red !important;
}
